# /. gitignore
# git rm -r --cached [file1] [file2]
/__pycache__
/draft*.py
/out/ckpt_iter_50000.pt
/gpt_deprecated.py
/more.txt
/state_dict
/tinyshakespeare/meta.pkl
/tinyshakespeare/train.bin
/tinyshakespeare/val.bin
# /testddp.py
*.sarif
tempCodeRunnerFile*.py
/onnx/*.onnx